cuddleotron_statemachine.asl.json
{
    "Comment": "Pet Cuddle-o-Tron - using Lambda for email.",
    "StartAt": "Timer",
    "States": {
      "Timer": {
        "Type": "Wait",
        "SecondsPath": "$.waitSeconds",
        "Next": "Email"
      },
      "Email": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:us-east-1:484907511744:function:email_reminder_lambda",
          "Payload": {
            "Input.$": "$"
          }
        },
        "Next": "NextState"
      },
      "NextState": {
        "Type": "Pass",
        "End": true
      }
    }
  }